.card-img-top {
    position: relative;
  }
  
  .overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
    color: red;
    text-align: center;
    padding: 5px;
    font-weight: bold;
  }
  
  .button-container {
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  